<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div _ngcontent-c8="" class="back-close">
        <span _ngcontent-c8="" class="back-icon2">
          <a _ngcontent-c8="" href="javascript:history.go(-1)">
            <svg _ngcontent-c8="" aria-hidden="true" class="svg-inline--fa fa-arrow-left fa-w-14 fa-2x"
              data-icon="arrow-left" data-prefix="far" role="img" viewBox="0 0 448 512"
              xmlns="http://www.w3.org/2000/svg">
              <path _ngcontent-c8="" class=""
                d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z"
                fill="currentColor"></path>
            </svg>
          </a>
        </span>
      </div>

    </div>
    <div class="col-md-12">
      <div class="head">
        <h2>You are not authorized to view this page</h2>
      </div>
    </div>
  </div>
</div>