    <div class="wrap2 thank-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="form1 thank-form">
                                <p class="form-title">Thank You</p>
                                <p class="form-title-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            
                            <div class="form-head">
                                <h5>Your mortgage appointment details:</h5>
                            </div>
                            <form>
                                <div class="form-group row">
                                    <label for="inputname" class="col-sm-6 col-form-label">When:</label>
                                    <div class="col-sm-6">
                                        <label>{{BookingDateandTime|date:'dd/MM/yyyy'}}</label>
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <label for="inputcontact" class="col-sm-6 col-form-label">Time:</label>
                                    <div class="col-sm-6">
                                        <label>{{BookingDateandTime|date:'hh:mm a'}}</label>
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                  <label for="inputEmail" class="col-sm-6 col-form-label">Email:</label>
                                  <div class="col-sm-6">
                                    <label>{{EmailAddress}}</label>
                                  </div>
                                </div>
                                <fieldset class="form-group">
                                  <div class="row">
                                    <label class="col-form-label col-sm-6 pt-0">Reason for enquiry:</label>
                                    <div class="col-sm-6">
                                      <label>{{Reason}}</label>
                                    </div>
                                  </div>
                                </fieldset>
                                <div class="form-group row show-branch">
                                        <label class="col-form-label col-sm-6">Branch:</label>
                                        <div class="col-sm-6">
                                          <label>{{Branch}}</label>
                                    </div>
                                </div>
                                  
                                <div class="form-group row submit-btn">
                                  <div class="col-sm-12">
                                    <a routerLink="/" class="btn btn-primary sb-btn">Close</a>
                                  </div>
                                </div>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
                
                     
                      
            
                     
    