.form1 {
    max-width: 900px;
    margin: 0 auto;
    border-radius: 50px;
    padding: 50px 120px;
}

.form-title {
    font-weight: bold;
    padding: 0;
}
.form-head h5 {
    font-size: 18px;
    font-weight: 600;
    padding: 24px 0 45px;
    line-height: 18px;
}
.thank-page .form-head h5 {
    padding-bottom: 28px;
}
