<div class="wrap2">
    <div class="container">
            <div class="col-md-12">
                    <div class="back-close">
                            <span class="back-icon1"><a href="javascript:history.go(-1)">
                                <svg aria-hidden="true" data-prefix="far" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-left fa-w-14 fa-2x">
                                    <path fill="currentColor" d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z" class=""></path>
                                </svg>
                            </a></span>
                            <span class="close-icon"><a href="javascript:history.go(-1)"><img src="assets/content/image/close.png"></a></span>
                    </div>
    
            </div>
        <div class="row form1">
            <div class="col-md-12">
                    <div class="">
                            <!-- <img src="assets/content/image/pic.png">-->
                             <p class="form-title">Branch Booking</p>
                         </div>

                <form (ngSubmit)="AddBranch()" novalidate #custForm='ngForm'>
                    <div class="form-group row">
                        <label for="inputname" class="col-sm-4 col-form-label"> Branch Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Name" [ngModel]="Name" maxlength="100" name="Name" required aria-describedby="nameHelp"
                                placeholder="Enter Branch name" />

                            <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['Name'].valid && custForm.controls['Name'].touched">Branch
                                name is required</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputcontact" class="col-sm-4 col-form-label">Address:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Address" [ngModel]="Address"  name="Address"
                                required aria-describedby="nameHelp" placeholder="Enter Address" />
                            <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['Address'].valid && custForm.controls['Address'].touched">
                                Address is required</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-4 col-form-label">Video Screens:</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" id="VideoScreens" maxlength="100" [ngModel]="VideoScreens" name="VideoScreens" required
                                pattern="^\d+$" placeholder="Enter Video Screens" />
                            <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['VideoScreens'].valid && custForm.controls['VideoScreens'].touched">
                              Video Screens will be numeric</p>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                            <label for="inputEmail" class="col-sm-4 col-form-label">Booking Notes:</label>
                            <div class="col-sm-6">
                                    <textarea  class="form-control" id="BookingNotes" [ngModel]="BookingNotes" maxlength="50" name="BookingNotes"
                                    aria-describedby="nameHelp" placeholder="Enter Booking Notes"></textarea>
                            </div>
                        </div>
                    <div class="col-sm-12" style="
    padding: 10px 9px 10px;
    background: #f3f3f3;
    margin-bottom: 15px;
    font-size: 15px;
">
                        <p class="note-branch">Please enter the start times, of the <i>first</i> and <i>last</i> appointment, at this branch for each day.<i> This is not the branch opening hours.</i><br><span></span></p>
                    </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-4 col-form-label">Monday:</label>
                            <div class="col-sm-3">
                                <input type="time" class="form-control" id="MondayOpeningHours" maxlength="100" [ngModel]="MondayOpeningHours" name="MondayOpeningHours"/>
                            </div>
                            <div class="col-sm-3">
                                <input type="time" class="form-control" id="MondayClosingHours" maxlength="100" [ngModel]="MondayClosingHours" name="MondayClosingHours"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-4 col-form-label">Tuesday:</label>
                            <div class="col-sm-3">
                                <input type="time" class="form-control" id="TuesdayOpeningHours" maxlength="100" [ngModel]="TuesdayOpeningHours" name="TuesdayOpeningHours"/>
                            </div>
                            <div class="col-sm-3">
                                <input type="time" class="form-control" id="TuesdayClosingHours" maxlength="100" [ngModel]="TuesdayClosingHours" name="TuesdayClosingHours"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-4 col-form-label">Wednesday:</label>
                            <div class="col-sm-3">
                                <input type="time" class="form-control" id="WednesdayOpeningHours" maxlength="100" [ngModel]="WednesdayOpeningHours" name="WednesdayOpeningHours"/>
                            </div>
                            <div class="col-sm-3">
                                <input type="time" class="form-control" id="WednesdayClosingHours" maxlength="100" [ngModel]="WednesdayClosingHours" name="WednesdayClosingHours"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-4 col-form-label">Thursday:</label>
                            <div class="col-sm-3">
                                <input type="time" class="form-control" id="ThursdayOpeningHours" maxlength="100" [ngModel]="ThursdayOpeningHours" name="ThursdayOpeningHours"/>
                            </div>
                            <div class="col-sm-3">
                                <input type="time" class="form-control" id="ThursdayClosingHours" maxlength="100" [ngModel]="ThursdayClosingHours" name="ThursdayClosingHours"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-4 col-form-label">Friday:</label>
                            <div class="col-sm-3">
                                <input type="time" class="form-control" id="FridayOpeningHours" maxlength="100" [ngModel]="FridayOpeningHours" name="FridayOpeningHours"/>
                            </div>
                            <div class="col-sm-3">
                                <input type="time" class="form-control" id="FridayClosingHours" maxlength="100" [ngModel]="FridayClosingHours" name="FridayClosingHours"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-4 col-form-label">Saturday:</label>
                            <div class="col-sm-3">
                                <input type="time" class="form-control" id="SaturdayOpeningHours" maxlength="100" [ngModel]="SaturdayOpeningHours" name="SaturdayOpeningHours"/>
                            </div>
                            <div class="col-sm-3">
                                <input type="time" class="form-control" id="SaturdayClosingHours" maxlength="100" [ngModel]="SaturdayClosingHours" name="SaturdayClosingHours"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-4 col-form-label">Sunday:</label>
                            <div class="col-sm-3">
                                <input type="time" class="form-control" id="SundayOpeningHours" maxlength="100" [ngModel]="SundayOpeningHours" name="SundayOpeningHours"/>
                            </div>
                            <div class="col-sm-3">
                                <input type="time" class="form-control" id="SundayClosingHours" maxlength="100" [ngModel]="SundayClosingHours" name="SundayClosingHours"/>
                            </div>
                        </div>
                    <div class="form-group row submit-btn">
						<label for="inputEmail" class="col-sm-12 col-form-label">&nbsp;</label>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary sb-btn" [disabled]="!custForm.valid">
                                {{actionName}}</button>
                                <!-- <button _ngcontent-c8="" class="btn btn-primary sb-btn  pull-right save-btn" type="submit" disabled=""> Save</button> -->
                                <a class="btn btn-primary" href="javascript:history.go(-1)">
                                    Back</a>
                                    
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>