.dash-item {
    display: inline-grid;
    padding: 5px !important;
}

.dash-block{
    padding: 50px 20px 40px 20px;
    background: #eeeeee;
    border-radius: 15px;
    text-transform: capitalize;
    text-decoration: none;
    /* border: 2px solid #2580cc; */
    box-shadow: 2px 4px 5px 0px #b3b3b3;   
	min-height: 220px;
	    
}
.head h2 { text-align: center;
          font-size: 36px; 
          margin-top: 90px; }
.dash-block img{
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
    height:95px;
}

a.dashboardbox_item, a.dashboardbox_item:focus, a.dashboardbox_item:visited, a.dashboardbox_item:hover {
    margin: 1px;
    font-size: 22px;
    color: #2c82c9;
    text-decoration: none;
    font-weight: bold;
}

.dashboard-title{
    font-size: 33px;
    padding-bottom:40px;
}

.next-prev{
    margin-top: 30px;
}

.save-btn{
    margin: 0 10px !important;
}


.branch .form-check{
    padding-left:0 !important;
}

.table td, .table th {
    vertical-align: middle;
}

.table-bordered{
    border:none !important;
}

.back-icon{
    position: absolute;
    z-index: 1;
    top: -55px;
    left: -90px;
    width: 5%;
}

.close-icon{
    position: absolute;
    z-index: 1;
    top: -55px;
    width: 5%;
    right: -75px;
	    display: none;
}

svg.svg-inline--fa.fa-w-14.fa-2x {
    width: 0.7em;
}


.bg-green{
   background: #00a885; 
}
.btn-default{
    background: #eeeeee;
}

.list .back-icon{
    top:0;
    left: 0;
}

.thank-page{
    padding:50px 0;
}

.thank-form{
    background-color: #f3f3f3;
}

.thank-page .form-title{
    text-transform: capitalize;
}

.show-branch label{
    padding-top: 0;
}

.thank-page .form-head h5{
    padding-bottom: 28px;
}

.thank-page .form-group{
    margin-bottom: 30px;
}

.bg-lightgrey:focus{
    background-color:#00a885;
    color:white;
}
.input-lable
{
box-shadow: none !important;
    background-color: #f7f7f7  !important;
    border: 0 !important;
    text-transform: capitalize;
	}

	.old-slot-date {
    padding: 6px 0px;
    background: #7fd3c2;
    font-size: 16px;
    color: #fff;
}

button.btn.btn-default.text-center.timeactive {
    background: #7fd3c2;
    border: 0;
    color: #fff;
}