<div class="wrap3">
    <div class="container">
        <div class="col-md-12">
            <div class="back-close">
                <span class="back-icon1"><a routerLink="/admin/dashboard">
                            <svg aria-hidden="true" data-prefix="far" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-left fa-w-14 fa-2x">
                                <path fill="currentColor" d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z" class=""></path>
                            </svg>
                        </a></span>
                <span class="close-icon"><a routerLink="/admin/dashboard"><img src="assets/content/image/close.png"></a></span>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="administer-section">
                    <h3>{{title}}</h3>

                </div>

                <div class="datelist pull-left book-datelist">
                    <div class="search-container book-search search-form">
                        <input [(ngModel)]="searchText" class="form-control" placeholder="Search...">
                    </div>
                    <ul class="book-search">
                        <li *ngIf="bookingType == 2">
                            <select class="form-control" id="branchId" (change)="loadBookingListByBranch($event)" [ngModel]="branchId" name="branchId">
									<option value="0">Select Branch</option>
									<option *ngFor="let branch of branchList" value="{{branch.Id}}">{{branch.Name}}</option>
								</select>
                        </li>
                        <li>
                            <input class="form-control" placeholder="Select Date" bsDaterangepicker [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY' }" (bsValueChange)="loadBookingListByDate($event)" [(bsValue)]="bsValue">
                        </li>
                    </ul>

                </div>


                <div class="administer-btn float-right">

                    <ul>
                        <li>
                            <a *ngIf="RoleId=='1'" href="javascript:void(0)" class="export" (click)="ExportBooking()">Export CSV</a>
                        </li>
                        <li>
                            <a routerLink="/admin/archivebooking/{{bookingType}}/0" *ngIf="status!=0 && RoleId=='1'" class="view ">View Archive</a>
                        </li>
                        <li>
                            <a routerLink="/admin/home/{{bookingType}} " class="add ">
                                <i class="fa fa-plus "></i> Appointment
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="table-responsive table-bordered admin-table ">
                    <table class="table admin-table ">
                        <thead>
                            <tr class="admin-table-head ">
                                <th>Id</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th *ngIf="bookingType==2 ">Branch</th>
                                <th>Customer Name</th>
                                <th>Mortgage Type</th>
                                <th>Assigned</th>
                                <th>Access Code</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let book of returnedbooklist | filter : searchText " class="white-row ">
                                <td>{{book.Id}}</td>
                                <td>{{book.BookingDateandTime | date :'dd/MM/yyyy'}}</td>
                                <td>{{book.BookingDateandTime | date :'hh:mm aa'}}</td>
                                <td *ngIf="bookingType==2 ">{{book.Branch}}</td>
                                <td>{{book.FirstName + ' ' + book.LastName}}</td>
                                <td>{{book.Reasonforenquiry}}</td>
                                <td>{{book.AssignedUser}}</td>
                                <td>{{book.AccessCode}}</td>
                                <td>
                                    <a class=" " routerLink="/admin/viewbooking/{{bookingType}}/{{book.Id}} ">View</a>
                                    <span *ngIf="RoleId=='1' "> |
                                    <a class=" " routerLink="/admin/home/{{bookingType}}/{{book.Id}} ">Edit</a></span>
                                    <span *ngIf="status!=0 && RoleId=='1' "> |   <a class=" " href="javascript:void(0) " (click)="ArchiveCustomer(book.Id) "> Archive</a>
                                    <span *ngIf="status==0 "> |   <a class=" " *ngIf="RoleId=='1' "  href="javascript:void(0) " (click)="UnArchiveCustomer(book.Id) "> UnArchive</a></span> | <a class=" " *ngIf="RoleId=='1' "
                                        href="javascript:void(0) " (click)="DeleteCustomer(book.Id) ">Delete</a></span>
                                </td>
                            </tr>
                            <!--/.row-->
                        </tbody>
                    </table>
                </div>

                <div class="next-prev ">
                    <pagination [maxSize]="10 " [totalItems]="booklist.length " (pageChanged)="pageChanged($event) "></pagination>
                </div>
            </div>

        </div>
    </div>

</div>