<div class="wrap3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div _ngcontent-c8="" class="back-close">
                    <span _ngcontent-c8="" class="back-icon2">
                                <a _ngcontent-c8="" routerLink="/admin/dashboard">
                                    <svg _ngcontent-c8="" aria-hidden="true" class="svg-inline--fa fa-arrow-left fa-w-14 fa-2x" data-icon="arrow-left" data-prefix="far" role="img" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                        <path _ngcontent-c8="" class="" d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z" fill="currentColor"></path>
                                    </svg>
                                </a>
                            </span>
                    <span _ngcontent-c8="" class="close-icon"><a _ngcontent-c8="" routerLink="/admin/dashboard"><img _ngcontent-c8="" src="assets/content/image/close.png"></a></span>
                </div>
                <div class="administer-section">
                    <h3 *ngIf="status!=0">Branches</h3>
                    <h3 *ngIf="status==0">Archived Branches</h3>
                </div>
                <div class="administer-btn pull-left">
                    <ul>
                        <li><a href="javascript:void(0)" (click)="ExportBranch()" class="export">Export CSV</a></li>
                        <li><a href="javascript:void(0)" routerLink="/admin/archivebranches/0" *ngIf="status!=0" class="view">View Archive</a></li>
                        <li><a href="javascript:void(0)" routerLink="/admin/addbranch" class="view"><i class="fa fa-plus"></i> Branch</a>
                        </li>
                        <li><a href="javascript:void(0)" routerLink="/admin/addbranch/3" class="view">Head Office</a>
                        </li>
                        <!-- <li><a href="javascript:void(0)" routerLink="/admin/branchbookinglist/0/1" class="add">View Bookings</a>                                                            
                          </li> -->
                    </ul>
                </div>

                <div class="table-responsive table-bordered admin-table">
                    <table class="table admin-table">
                        <thead>
                            <tr class="admin-table-head">
                                <th>Branch</th>
                                <th>Address</th>
                                <th>Video Capacity</th>
                                <th colspan="2">Action</th>
                            </tr>
                        </thead>
                        <tbody class="branchname">
                            <tr *ngFor="let branch of returnedbranchlist" class="white-row">
                                <td>{{branch.Name}}</td>
                                <td>{{branch.Address}}</td>
                                <td>{{branch.VideoCapacity}}</td>
                                <td>
                                    <a class="" routerLink="/admin/addbranch/{{branch.Id}}">Edit</a>
                                    <span *ngIf="status!=0"> |    <a class="" href="javascript:void(0)"  (click)="ArchiveBranch(branch.Id)">Archive</a></span>
                                    <span *ngIf="status==0"> |    <a class="" href="javascript:void(0)" (click)="UnArchiveBranch(branch.Id)">UnArchive</a></span> | <a class="" href="javascript:void(0)" (click)="DeleteBranch(branch.Id)">Delete</a> |
                                    <a class="" routerLink="/admin/branchbookinglist/0/{{branch.Id}}">View Booking</a>
                                    <!-- | -->
                                    <!-- <a class="" routerLink="/admin/addavailablity/2/{{branch.Id}}">Add/Edit Capacity</a>  -->
                                </td>
                            </tr>
                            <!--/.row-->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div class="next-prev">
                    <pagination [maxSize]="10" [totalItems]="branchlist.length" (pageChanged)="pageChanged($event)"></pagination>
                </div>
            </div>

        </div>
    </div>

</div>