<div class="wrap2 setting">
    <div class="container">
        <h2 class="dashboard-title">Settings</h2>
        <div class="row form1">
            <div class="col-md-12">
                <!--                   
                        <div class="back-close">
                                <span class="back-icon"><a href="javascript:history.go(-1)"><img src="assets/content/image/back.png"></a></span>
                                <span class="close-icon"><a href="javascript:history.go(-1)"><img src="assets/content/image/close.png"></a></span>
                        </div>
       -->

                <form (ngSubmit)="AddSettings()" novalidate #custForm='ngForm'>

                    <div class="form-group row set-form">
                        <label for="inputname" class="col-sm-4 col-form-label">SMS Settings:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="smsSettings" [ngModel]="smsSettings" maxlength="100" name="smsSettings" aria-describedby="nameHelp" placeholder="Enter SMS Settings" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputname" class="col-sm-4 col-form-label">Send SMS Remider:</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="SendSMSRemider" [ngModel]="SendSMSRemider" name="SendSMSRemider">
                                                <option value="0">Same Day</option>    
                                            <option value="1">1 Day Before</option>
                                                <!-- <option value="2">2 Day Before</option>
                                                <option value="3">3 Day Before</option>                                                
                                                <option value="7">1 Week</option>                                                 -->
                                        </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputname" class="col-sm-4 col-form-label">Email Settings:</label>
                        <div class="col-sm-6 set-form">
                            <input type="text" class="form-control" id="emailSettings" [ngModel]="emailSettings" maxlength="100" name="emailSettings" aria-describedby="nameHelp" placeholder="Enter Email Settings" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputname" class="col-sm-4 col-form-label">Send Email Remider:</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="SendEmailRemider" [ngModel]="SendEmailRemider" name="SendEmailRemider">
                                                <option value="0">Same Day</option>    
                                                <option value="1">1 Day Before</option>
                                                <!-- <option value="2">2 Day Before</option>
                                                <option value="3">3 Day Before</option>    
                                                <option value="7">1 Week</option>                                                                                             -->
                                        </select>
                        </div>
                    </div>
                    <div class="form-group row submit-btn">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary sb-btn">Save
                                  </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>