<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <title>Email 2</title>
</head>

<body>

        <div style="background-color:#ebebeb;">
                <div class="container">
                    <div class="row">
                            <div class="col-md-12" style="background-color:#ebebeb;padding:0;margin-top:1rem;">
                                    <div>
                                        <p style="float:left;color:#666;">This email includes confirmation of your NM Money  
                                                appointment and what you need to bring.</p>
                                        <!-- <p style="float:right;color:#666;">Email not displaying properly?<br>
                                                <a href="#" style="float:right;">View in your browser</a></p> -->
                                    </div>
                                </div>
                        <div class="col-md-12" style="background-color:#fff;">
                                <div style="background-color:rgb(64, 156, 218); margin-left:20%;padding:50px 0 50px 100px;margin-top:50px;border-radius:25px 0 0 25px;">
                                        <p style="margin-bottom:0;font-size:38px;color:white;"><strong>thank you </strong></p>
                                        <p style="font-size: 38px;color:white;font-weight:100;">for making <br> an appointment.</p>
                                    </div>
                        </div>
                        <div class="col-md-12" style="background-color:#fff;">
                                    <div style="text-align:left;padding:70px 0 30px 0;">
                                                <p style="margin-bottom:0;">Hi {{FirstName}} {{LastName}},</p> 
                                                <p style="padding-top:50px;padding-bottom:40px;">We’re really looking forward to our appointment tomorrow, and to helping you find the best mortgage available. Here’s a reminder of the details, including your booking code and what you need to bring with you.
                                                </p>
                                              <p style="margin-bottom:10px;">Date: <strong> {{BookingDateandTime | date: 'fullDate'}}</strong></p> 
                                                <p style="margin-bottom:10px;">Time: <strong> {{BookingDateandTime | date: 'mediumTime'}}</strong></p>
                                                <p style="margin-bottom:10px;">Location: <strong>{{Location}}</strong></p>
                                                <p style="margin-bottom:10px;">Call Type: <strong>{{CallType}}</strong></p>
                                                <p>Mortgage type: <strong>{{Reason}}</strong></p>
                                                <p style="margin:40px 0;">Your Appointment Booking Code: <strong>{{AccessCode}}</strong></p>
                                                    
                                                <p>To help us find you the best mortgage available, please make sure you have the following information with you: </p>
                                                <ul style="margin:50px 0;">
                                                <li style="margin-bottom:10px;">Recent payslips for anyone whose name will be on the mortgage</li>
                                                <li style="margin-bottom:10px;">Personal identification with a picture (a passport or driving licence is best)</li>
                                                <li style="margin-bottom:10px;">Bank statements for the last 3 months</li>
                                                <li style="margin-bottom:10px;">If you are self-employed, your TAX return or SA302</li>
                                                <li>Details of any existing mortgage(s)</li>
                                                </ul>
                                                <p>See you tomorrow!</p>
                                                <p style="margin-top:80px;">Kind regards,<br></p> 
                                                <img src="https://www.nmmoney.co.uk/travel-money/Content/images/logo.png" alt="NM Money" style="width:20%;margin-top:45px;">
                                                <p style="margin-top:80px;">PS. If for any reason you are unable to make the appointment please contact us on <strong>03300 583859</strong></p>
            
                                                <p>Hi, don’t forget your mortgage appointment is booked for {{Reason}} today. 
                                                    If you’re unable to make this appointment please call <strong>03300 583859.</strong>
                                                    We’re looking forward to seeing you and helping you find the best mortgage deal.
                                                    <strong>NM Money</strong>
                                                    </p>
                                            </div>
                            </div>
                        </div>
            </div>
        </div>   
               
  
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>