
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.7em;
    height: 100%;
    width: 100%;
}

img{
    max-width: 100%;
}
.clear {
    clear: both;
}

.img-resp {
    width: 100%;
}

.wrap1{
    padding:10px 0;
    margin:0 auto;
    background:#eee;
}

.logo img{
    width:225px;
}


/**/

p{
    margin-bottom: 0;
}

.wrap2{
    text-align: center;
    padding: 50px 0;
    background: #f3f3f3;
}

.form1{
    max-width:900px;
    background: white;
    margin: 0 auto; 
    border-radius: 50px;
    padding: 80px 120px;
}

.form1 img{
    width:200px;
}

.form-title{
    color:#9c9c9c;
    font-size: 35px;
    text-transform: lowercase;
    font-weight: bold;
}

.form-title-text{
    color: #9c9c9c;
    padding-top: 30px;
    line-height: 18px;
}

.form-head h5{
    color: #9c9c9c;
    padding:40px 0;
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
}

form{
    max-width: 440px;
    margin: 0 auto;
}

form label{
    font-size: 16px;
    color:#9c9c9c;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    padding-top:0 !important;
    padding-bottom: 0px !important;
}

form input{
    border-radius: 0 !important;
    margin-left: 10px;
    text-align: left;
    padding: 3px 6px !important;
}

form select{
    padding: 3px 6px;
    width: 100%;
    border-radius: 0;
}

.calender label{
    text-align: center;
    padding-bottom: 20px !important;
}

.conditions label{
    text-align: justify;
    padding-left: 30px !important;
}

.branch label{
    padding-top: calc(.375rem + 1px) !important;
}

.branch select{
    border-radius: 0!important;
    padding: 6px;
    height: 32px;
}

form .form-group{
    margin-bottom: 40px;
}

.form-check{
    text-align: left;
    margin-left:30px;
}

.form-check-label{
    padding-left: 0;
}

.form1 .form-check-input[type="checkbox"] {
    display: none;
  }
  
  .form1 .form_checkbox label {
    cursor: pointer;
    display: block;
    font-size: 14px;
    left: 0;
    line-height: 22px;
    padding-left: 20px;
    position: relative;
  }
  
  .form1 .form_checkbox input[type="checkbox"] + label::before {
    /* background-image: url(../images/check2.png); */
    background-repeat: no-repeat;
    color: #999999;
    content: "\f096";
    display: inline-block;
    font-family: fontawesome;
    font-size: 18px;
    left: 0;
    position: absolute;
  }
  
  .form1 .form_checkbox input[type="checkbox"]:checked + label::before {
    color: blue;
    content: "\f046";
  }

  .sb-btn{
      margin: 0 auto;
  }

  .submit-btn{
      margin: 0 auto;
      margin-top: 50px;
  }

  .login-form .form-title {
    color: #9c9c9c;
    font-size: 27px;
    text-transform: lowercase;
    font-weight: bold;
}

.login-form img{
    margin-bottom: 45px;
}

.login-form .form-title-text {
    color: #9c9c9c;
    padding-top: 13px;
    line-height: 18px;
}

.login-btn{
    padding:6px 40px;
}



.wrap3{
    text-align: center;
    padding: 50px 0;
    background: #fff;
}

.wrap3 .col-md-12{
    padding:0;
}


.dark-row{
    background:rgb(255, 255, 255);
    
}
.light-row{
    
    background:#F1F3F0;
}

.admin-table-head{
    background:#d6d6d6 ;
}

.administer-section{
    margin: 0 auto;
}

.administer-section h3{
    font-size: 33px;
    color: #9c9c9c;
}

.administer-btn{
    float: right;
}

.administer-btn ul li{
    list-style: none;
    float: left;
    text-decoration: none;
    margin-left: 30px;
}

.administer-btn ul li a:hover{
    text-decoration: none;
    color:black;
}

.export{
    background: #f7f7f7;
    color: #9c9c9c;
    padding: 8px 45px;
    border-radius: 5px;
    border: 1px solid #9c9c9c;
}

.administer-btn{
    height: 90px;
    padding-top: 24px;
}

.view{
    background: #b9b9b9;
    color: #ffffff;
    padding: 8px 45px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
}

.add{
    background: #82cc4a;
    color: #ffffff;
    padding: 8px 45px;
    border-radius: 5px;
    border: 1px solid #efefef;
}