/* You can add global styles to this file, and also import other style files */
/* @import "node_modules/bootstrap/dist/css/bootstrap.min.css"; */

@import '~open-iconic/font/css/open-iconic-bootstrap.css';


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.7em;
    height: 100%;
    width: 100%;
}

img{
    max-width: 100%;
}
.clear {
    clear: both;
}

.img-resp {
    width: 100%;
}

.wrap1{
    margin:0 auto;
    background:#f3f3f3;
    box-shadow: 2px 2px 5px #cecece
}

.logo{
    float:left;
    padding: 10px 0;
}

.icon-active{
    padding: 10px 0;
}

.icon{
    padding: 10px 0;
}

.logo img{
    width:180px;
}

.main-nav li{
    float: left;
    list-style-type: none;
    margin-left: 30px;
}

.main-nav li a i{
    color:#000;
    font-size: 36px;
}


.main-nav li a i:hover, .main-nav li a i:active{
    color:#00a885;
}

.setting-inside{
    position: absolute;
    z-index: 2;
    right:0px;
    top: 58px;
    border-radius: 5px;
    padding-left: 0;
}

.setting-inside li{
    background: #fafafa;
  list-style-type: none;
  padding: 12px 65px 12px 30px;
  float: none;
  margin-left: 0;

}

.setting-inside li a{
    list-style-type: none;
    font-size: 18px;
    text-decoration: none;
    color:black;
  }

  .setting-inside li a:hover{
    text-decoration: none;
    color:#000;
  }

.setting-inside .active{
    background-color:#00a885;
}

.setting-inside .active a{
    color:rgb(255, 255, 255);
}

.setting-inside .set-btn{
    background: #fafafa;
}

#BranchId:after{
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #000000;
    right: 11px;
    top: 6px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    border-left: 1px solid #000000;
    position: absolute;
    pointer-events: none;
}

/**/

p{
    margin-bottom: 0;
}

.wrap2{
    text-align: center;
    padding: 50px 0 50px 0;  
}

.form1{
    max-width:900px;
    margin: 0 auto; 
    border-radius: 50px;
    padding: 50px 120px;
    padding-top: 0;
}

.form1 img{
    width:200px;
}

.form-title{
    color: #000000;
    padding: 0px 0 45px;
    font-size: 33px;
    padding-bottom: 50px;
}

.form-title-text{
    color: #000000;
    padding-top: 30px;
    line-height: 18px;
}
.login-form{
    padding-top: 50px !important;
}

.login-form-title {
    color: #000;
    font-size: 27px;
    text-transform: lowercase;
    font-weight: 700;padding-bottom: 0;
}

.login-form h5{
    color: #000;
    padding: 24px 0 50px;
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
}

.form-head h5{
    color: #000000;
    padding:0px 0 45px;
    font-size: 33px;
    padding-bottom: 50px;
}

form{
    max-width: 535px;
    margin: 0 auto;
    /* padding-top: 50px; */
}

.form-control{
    box-shadow: 2px 2px 5px #ececec;
}

form label{
    font-size: 17px !important;
    color:#000000;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    padding-top:0 !important;
    padding-bottom: 0px !important;
}

form input{
    border-radius: 0 !important;
    /* margin-left: 10px; */
    text-align: left;
    padding: 3px 6px !important;
}

form select{
    padding: 3px 6px;
    width: 100%;
    border-radius: 0;
}

.calender label{
    text-align: center;
    padding-bottom: 20px !important;
}

.conditions label{
    text-align: justify;
    padding-left: 30px !important;
}

.branch label{
    padding-top: calc(.375rem + 1px) !important;
}

.branch select{
    border-radius: 0!important;
    padding: 6px;
    height: 32px;
}

form .form-group{
   /* margin-bottom: 40px;*/
}

.form-check{
    text-align: left;
}

.form-check-label{
    padding-left: 0;
}

.form1 .form-check-input[type="checkbox"] {
    display: none;
  }
  
  .form1 .form_checkbox label {
    cursor: pointer;
    display: block;
    font-size: 14px;
    left: 0;
    line-height: 22px;
    padding-left: 20px;
    position: relative;
  }
  
  .form1 .form_checkbox input[type="checkbox"] + label::before {
    /* background-image: url(../images/check2.png); */
    background-repeat: no-repeat;
    color:#000000;
    content:"\f096";
    display: inline-block;
    font-family: fontawesome;
    font-size: 18px;
    left: 0;
    position: absolute;
  }
  
  .form1 .form_checkbox input[type="checkbox"]:checked + label::before {
    color: #2c82c9;;
    content: "\f046";
  }

  .sb-btn{
      margin: 0 7px;
  }

  .submit-btn{
    margin: 0 auto;
    margin-top: 25px;
    text-align:center;
  }

  .login-form .form-title {
    color: #000000;
    font-size: 27px;
    text-transform: lowercase;
    font-weight: bold;
}

.login-form img{
    margin-bottom: 45px;
}

.login-form .form-title-text {
    color: #000000;
    padding-top: 13px;
    line-height: 18px;
}

.login-btn{
    padding:6px 40px;
}



.btn-primary {
    color: #fff;
    background-color: #2c82c9;
    border-color: #2c82c9;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2c82c9;
    border-color: #2c82c9;
}


.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2c82c9;
    border-color: #2c82c9;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #116ebb;
    border-color: #116ebb;
}


.wrap3{
    text-align: center;
    padding: 50px 0;
    
}

.wrap3 .col-md-12{
    padding:0;
}

.table{
   font-size:14px;
   margin-bottom: 0px;
}

.table-bordered thead td, .table-bordered thead th {
    vertical-align: middle;
}

.table a{
    color:#2c82c9;
    text-decoration: none;
    font-weight: 600;
}

.dark-row{
    background:#fff;
    
}
.light-row{
    background:#f5f5f5;
}

.admin-table-head{
    background:#00a885;
    color:#fff;
}

.administer-section{
    margin: 0 auto;
}

.administer-section a{
    font-weight: 600;
    color:#2c82c9;
}

.administer-section h3{
    font-size: 33px;
    color: #000;
}

.administer-btn{
    float: right;
}

.administer-btn ul li{
    list-style: none;
    float: left;
    text-decoration: none;
    margin-left: 30px;
}

.administer-btn ul li a:hover{
    text-decoration: none;
    color:#2c82c9;
    font-weight: bold;
}

.export{
    background: #f5f5f5;
    color: #2c82c9;
    padding: 8px 45px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    font-weight: 600;
}

.administer-btn{
    height: 90px;
    padding-top: 50px;
    margin-top: 10px;
}

.view{
    background: #f5f5f5;
    color: #2c82c9;
    padding: 8px 45px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    font-weight:600;
}

.add{
    background: #2c82c9;
    color: #ffffff;
    padding: 8px 45px;
    border-radius: 5px;
    border: 1px solid #2c82c9;
    font-weight:600;
}

.add:hover{
    color:#fff !important;
}

.dashboardbox{
    background: #e6e6e6;
    color: #000000;
    padding: 60px 45px;
    border-radius: 5px;
    border: 1px solid #efefef;
    margin-right: 10px;
}
.dashboardcenter{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.error{color: red;text-align: left;}

.margin-right-10{
    margin-right: 10px;
}
.timeactive{
    color: #82cc4a;
}
.administer-search{
    float: left;
}
.administer-search ul{
padding:0;
}
.administer-search ul li:first-child{
    margin-left: 0;
}

.table-bordered td{
    text-align: left;
}

.pagination .disabled{
    color:#595959;
    font-weight: 600;
}

.page-item.active .page-link {
    z-index: 1;
    color: #ffffff;
    background-color: #00a885;
    border-color: #00a885;
}

.pagination-next a{
    color:#2c82c9 !important;
}

.branchname > tr >td:first-child{
    font-weight: 600;
}

tbody > tr >td:first-child{
    font-weight: 600;
}

.dropdown-content-set, .dropdown-content-bar{
    display: none;
}

/* .icon-active:hover .dropdown-content{
    display: block;
}

.icon-active:hover .dropdown-content{
    display: block;
} */

.nav-right{
    float: right;
}

.radio-check{
    padding-left: 4.25rem !important;
}

.btn-sm{
    float: right;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.time-block{
    width:25%;
    margin: 0 5px;
    border: 1px solid #616161;
}

#allSlot{
    width:30%;
    border: 1px solid #616161;
}

#avail .form-group {
    height: 45px;
    margin: 17px 0;
}

.timeslot{
        margin: 25px 0 !important;
}

.hourbox{
 width:40%;
 float: left;
 margin: 0 5px;
 border: 1px solid #616161;
}

.minbox{
    width: 40%;
    float: right;
    margin: 0;
    border: 1px solid #616161;
}

.timebox{
    width:30%;
    border: 1px solid #616161;
}

.radio-check1{
    padding-left: 0 !important;
}

.icon-active:hover .dropdown-content-set{
    display: block;
}

.icon-active:hover .dropdown-content-bar{
    display: block;
}

.bg-green{
    background-color: #00a885;
}

.bg-lightgrey{
background-color: #eeeeee;
}


.datelist{
    padding: 0;
    padding-top: 50px;
    margin-bottom: 0;
}

.datelist ul{
    padding: 0;
    margin-bottom: 0;
}

.datelist ul li{
    list-style-type: none;
    float: left;
    text-decoration: none; 
    margin-left: 30px;
}
.datelist ul li:first-child {
    margin-left: 0;
}

.float-right{
    float: right;
}

.customer-table{
margin-top: 20px;
}

textarea.form-control {
    height: 135px;
    width: 350px;
    border-radius: 0;
}

.theme-green .bs-datepicker-head {
    background-color: #00a885;
}

.screen-icon, .call-icon{
    background-color: #eeeeee;
    padding: 70px 0;
}

.screen-icon i, .call-icon i{
    font-size: 200px;
}

.button-section{
    background-color: #eeeeee;
    margin-top: 20px;
    padding:70px 80px;
}

.button-section h4{
    font-weight: bold;
    text-transform: lowercase;
    font-size: 26px;
}

.mort-app .form1 .form-title{
    margin: 50px 0 10px 0;
}

.button-section p{
    margin: 20px 0 20px 0;
}


.mort-app .left-section{
    width: 80%;
    display: block;
    float: right;
}

.mort-app .right-section{
    width: 80%;
    display: block;
    float: left;
}

.thank-page{
    padding:50px 0;
}

.thank-form{
    background-color: #f3f3f3;
}

.thank-page .form-title{
    text-transform: capitalize;
}

.show-branch label{
    padding-top: 0;
}

.thank-page .form-head h5{
    padding-bottom: 28px;
}

.thank-page .form-group{
    margin-bottom: 30px;
}
.bg-lightgrey:focus{
    background-color:#00a885;
    color:white;
}

.back-icon1{
    position: absolute;
    z-index: 1;
    top: 7px;
    left: -32px;
    width: 5%;
}

.back-icon2 {
    position: absolute;
    z-index: 1;
    top: 7px;
    left: -18px;
    width: 5%;
}

.cust-view label, .viewbook label, .user-view label{
    text-align: right;
}

.pull-left{
    text-align: left;
}

.set-form input{
    margin-left: 0;
}

.grey-font{
    color:#808080;
}

.reason-check{
    padding-left: 0;
}

.reason-check select{
    width:100%;
    border-radius:0;
}

.avail-left{
    float: left;
    padding-top: 20px;
    height: 70px;
}

.avail-left ul{
    padding-left: 0;
}


.avail-left ul li {
    margin-right: 30px;
    margin-left: 0;
}
		
.timeactive{		
    color: #00a885;		
   }

   .book-search{
       /* display: inline-block; */
   }

   /* .search-form{
    display: none;
   } */

   .book-datelist{
       display: flex;
   }

   .search-container{
       margin-right: 20px;
   }

   .book-search form input{
       padding:5px 0px 5px 3px !important;
   }

   .book-search form input:focus{
    outline:none;
    }

    .book-search form button:focus{
        outline:none;
        }

   .book-search form button{
    background-color: #00a885;
    padding: 7px 15px;
    border:none;
    color:white;
    }

    .customer-search{
        padding-top:50px;
    float: right;
    display: none;
    }
    .customer-search form input{
        padding:5px 0px 5px 3px !important;
    }
 
    .customer-search form input:focus{
     outline:none;
     }
 
     .customer-search form button:focus{
         outline:none;
         }
 
    .customer-search form button{
     background-color: #00a885;
     padding: 7px 15px;
     border:none;
     color:white;
     }

@media screen and ( max-width:1024px) {
.mort-app .left-section, .mort-app .right-section {
    width: 100%;
  }
  .dash-block {
    min-height: 221px;
}
.datelist.pull-left{
    float: right;
    padding-top: 15px;
    margin-left: 30px;
}
.administer-btn {
    height: 65px;
    padding-top: 15px;
    margin-top: 10px;
}
.back-icon1 {
    left: -27px;
}
.avail-left{
    float: right;
}
.avail-left ul li {
    margin-left: 19px;
    margin-right: 0;
}
.export {
    padding: 8px 41px;
}
}


@media screen and ( max-width:768px) {
.form-title {
    line-height: 35px;
}
.administer-btn ul li {
    margin-left: 20px;
}
.view {
    padding: 8px 28px;
}
.dash-block {
    min-height: 240px;
}
.back-icon1 {
    left: -21px;
}
.form1 {
    padding: 50px 0px;
}
.export {
    padding: 8px 20px;
}
}


@media screen and ( max-width:500px) {
    .main-nav li {
        margin-left: 6px;
    }
	.sb-btn-wrp{
        text-align: center;
        margin-bottom: 50px;
  }

  .datelist li{
      width:100%;
      margin-left: 0 !important;
  }
  .administer-btn{
      width:100%;
  }
  .cust-view label, .viewbook label, .user-view label {
    text-align: left;
}
.branch label {
    text-align:left;
}
.form1{
    padding: 50px 10px !important;
}

.thank-form .form-head h5{
    line-height: 24px !important;
}
.book-datelist {
    display: block;
}

.book-search{
    display: block;
}
.book-search form input {
    width: 80%;
}
.book-search form button {
    width: 20%;
}
.search-container {
    margin-right: 0px;
}
.customer-search{
    padding-top:0px;
    margin-bottom: 20px;
    float: none;
}
.customer-search form input {
    width: 80%;
}
.customer-search form button {
    width: 20%;
}
}

@media screen and ( max-width:414px) {
    .form1{
        padding: 0px 0px;
    }
    .back-icon {
        position: absolute;
        z-index: 1;
        top: -52px;
        left:0px;
        width: 5%;
    }
    
    .close-icon {
        right: 35px;
    }
    
    .main-nav li {
        margin-left: 15px;
    }
    .dashboard-title {
        padding-top: 50px;
    }
    .dash-block{
        margin-bottom: 10px;
    }
    .branch .form-check{		
        margin-left: 0 !important;		
    }

    /* .view, .add, .export {
        padding: 8px 15px;
    }
    .administer-btn ul li {
        margin-left: 12px;
    } */
    
    .administer-btn {
        height: auto;
        float: none;
    }
    
    .administer-btn ul{
        padding-left: 0px !important;
    }
    .administer-btn ul li {
        float:none;
        margin-bottom: 30px;
        margin-left: 0px; 
    }
    .administer-btn ul li a {
        display: inline-block;
        width:100%;
    }
    form label{
        text-align:left;
        padding-left:15px !important;
    }
    .btn-sm{
        float: left;
    }
    #avail .form-group {
        height: 80px;
        margin: 17px 0;
    }
    .radio-check1 {
        padding-left: 1.25em !important;
    }
    
    .radio-check {
        padding-left: 1.25em !important;
    }

    .thank-page label{
        display: block;
        text-align: center;
    }
    .login-btn{
        margin-left: -15px;
    }

    form input{
        margin-left: 0;
    }
    .dashboardcenter {
        padding-top: 0px;
    }
    .back-icon1 {
        top: 10px;
        left:0px;
    }
    .wrap3 .col-md-12 {
        padding: 0 15px ; 
    }

    .datelist select, .datelist input{
        margin-bottom: 30px;
    }
    .administer-btn {
        padding-top:0px;
    }
    .table {
        overflow: auto;
        white-space: nowrap;
    }
    .datelist.pull-left {
        margin-left:0px;
        width:100%;
    }
    .back-icon2 {
        left: 15px;
    }
    .export {
        padding: 8px 28px;
    }
    textarea.form-control {
        margin-left:0px;
    }
    select#UserRole {
        margin-left: 0px;
    }
    .time-block {
        float: left;
    }
    #avail .col-sm-6, #avail .col-sm-4{
        padding:0;
    }
    .branch form label {
        padding-left:0px !important;
    }
    .administer-section h3 {
        padding-bottom: 40px;
    }
    .customer-table {
        margin-top: 0px;
    }
    .setting{
        padding-top: 0;
    }
    .adduser .dashboard-title{
        padding-top: 0px;
    }
    .setting-inside li {
        margin-left: 0 !important;
    }
    .mort-app .form1 .form-title {
       padding-bottom: 0;
    }
    .mort-app .form1 .form-title-text{
        padding-top: 0;
    }
    .mort-app .left-section{
        margin-top: 50px;
    }
    .mort-app .right-section {
        margin-top:20px;
    }
    .left-section .login-btn, .right-section .login-btn{
        margin: 0;
    }
    .left-section .login-btn, .right-section .sb-btn {
        margin: 0;
    }
    }
    

@media screen and ( max-width:375px) {
    .main-nav li {
        margin-left: 6px;
    }
    textarea.form-control {
        width: 315px;
        margin-left: 0;
    }
    .button-section {
        padding: 70px 63px;
    }
	
}

@media screen and ( max-width:360px) {
.logo img {
    width: 150px;
}
.main-nav li {
    margin-left: 10px;
}
textarea.form-control {
    width: 300px;
}
}

@media screen and ( max-width:320px) {
.main-nav li a i {
    color: #000;
    font-size: 29px;
}
.logo img {
    width: 130px;
}
textarea.form-control {
    width: 260px;
}
}