<div class="wrap3">
  <div class="container">
          <div class="row">
              <div class="col-md-12">
                    <div _ngcontent-c8="" class="back-close">
                            <span _ngcontent-c8="" class="back-icon2">
                                <a _ngcontent-c8="" routerLink="/admin/dashboard">
                                    <svg _ngcontent-c8="" aria-hidden="true" class="svg-inline--fa fa-arrow-left fa-w-14 fa-2x" data-icon="arrow-left" data-prefix="far" role="img" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                        <path _ngcontent-c8="" class="" d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z" fill="currentColor"></path>
                                    </svg>
                                </a>
                            </span>
                            <span _ngcontent-c8="" class="close-icon"><a _ngcontent-c8="" routerLink="/admin/dashboard"><img _ngcontent-c8="" src="assets/content/image/close.png"></a></span>
                        </div>
              <div class="administer-section">
                  <h3>Customers</h3>
              </div>
                  <!-- <div class="administer-btn pull-left">
                      <ul>
                          <li><a href="" class="export">Export CSV</a></li>
                          <li><a href="" class="view">View Archive</a></li>
                          <li><a href="javascript:void(0)" routerLink="/admin/addcustomers" class="add">Add New</a>                                                            
                          </li>
                      </ul>
                  </div> -->
              </div>
              <div class="col-md-12">
                    <!-- <div class="customer-search">
							<form action="/action_page.php">
								<input type="text" placeholder="Search.." name="search">
								<button type="submit"><i class="fa fa-search"></i></button>
							</form>
                        </div> -->
                        <div class="datelist pull-left book-datelist">
                            <div class="search-container book-search search-form">
                                    <input [(ngModel)]="searchText" class="form-control" placeholder="Search...">
                            </div>                           
                        </div>
              <div class="table-responsive table-bordered admin-table">
                  <table class="table admin-table customer-table">
                        <thead>
                        <tr class= "admin-table-head">
                            <th>Customer Name</th>
                            <th>Telephone</th>
                            <th>Email</th>
                            <th>Reason</th>
                            <th>Actions</th>
                        </tr>
                    </thead>   
                    <tbody>
                      <tr *ngFor="let customer of returnedbooklist | filter : searchText" class= "white-row">
                          <td>{{customer.FirstName + ' ' + customer.LastName}}</td>
                          <td>{{customer.ContactNumber}}</td>
                          <td>{{customer.EmailAddress}}</td>
                          <td>{{customer.Reasonforenquiry}}</td>
                          <td>
                            <a class="" routerLink="/admin/viewcustomers/{{customer.Id}}">View</a>    
                        |
                            <a class="" routerLink="/admin/addcustomers/{{customer.Id}}">Edit</a> 
                        |    <a class="" href="javascript:void(0)" (click)="DeleteCustomer(customer.Id)">Delete</a>
                        </td>                                       
                      </tr>
                      <!--/.row-->
                    </tbody>
                  </table>
                  </div>
                  </div>
                  <div class="col-md-12">
                  <div class="next-prev">
                      <pagination [maxSize]="10" [totalItems]="booklist.length" (pageChanged)="pageChanged($event)"></pagination>
                  </div>
                </div>

          </div>
      </div>
      
</div>