<app-guestheader></app-guestheader>
<div class="wrap2">
    <div class="container">           
        <div class="row form1">
            
            <div class="col-md-12">
            
                <!-- <p class="form-title">book a remote video advisor</p>
                <p class="form-title-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            -->
                <div class="form-head">
                    <img src="assets/content/image/pic.png">
                    <h5 *ngIf="bookingType==2">Video Appointment Booking</h5>
                    <h5 *ngIf="bookingType==1">Call Back Appointment Booking</h5>
                </div>

                <!-- <div class="form-head">
                       <h5>Video Appointment Booking</h5>
                </div> -->

                <!-- <div class="form-head">
                    <h5>Please fill in the form below:</h5>
                </div> -->

                <form (ngSubmit)="BookCustomer()" novalidate #custForm='ngForm'>
                    <input type="hidden" [ngModel]="bookingType" name="FirstName" />
                    <div class="form-group row">
                        <label for="inputname" class="col-sm-4 col-form-label">First Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="FirstName" [ngModel]="FirstName" maxlength="100" name="FirstName" required aria-describedby="nameHelp"
                                placeholder="Enter first name" />

                            <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['FirstName'].valid && custForm.controls['FirstName'].touched">First
                                name is required</p>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="inputname" class="col-sm-4 col-form-label">Last Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="LastName" [ngModel]="LastName" maxlength="100" name="LastName" required aria-describedby="nameHelp"
                                placeholder="Enter last name" />

                            <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['LastName'].valid && custForm.controls['LastName'].touched">Last
                                Name name is required</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputcontact" class="col-sm-4 col-form-label">Contact Number:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="ContactNumber" pattern="[01|02|03|05|07|]{2}[0-9]{9}"                             
                             [ngModel]="ContactNumber" maxlength="50" name="ContactNumber"
                             (keyup)="isNumberKeyy($event)"                              
                             (change)="setCustomValidity($event)"
                             (paste)="paste()"
                             (drop)="paste()"                             
                                required aria-describedby="nameHelp" placeholder="Enter contact number" />
                            <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['ContactNumber'].valid && custForm.controls['ContactNumber'].touched">Contact
                                number is required</p>
                                <p class="col-sm-offset-3 help-block error" *ngIf="!contactnumberInvalid && custForm.controls['ContactNumber'].touched">
                                    Please Enter Valid Contact Number
                                </p> 
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-4 col-form-label">Email:</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" id="EmailAddress" (change)="validateEmail($event)" 
                            maxlength="100" [ngModel]="EmailAddress" name="EmailAddress" required
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email address" />
                            <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['EmailAddress'].valid && custForm.controls['EmailAddress'].touched">Email
                                is required with correct format</p>                                
                                <p class="col-sm-offset-3 help-block error" *ngIf="!emailInvalid && custForm.controls['EmailAddress'].touched">
                                    Please Enter Valid Email Address
                                </p> 
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-form-label col-sm-4 pt-0">Reason for enquiry:</label>
                            <div class="col-sm-6">                               
                                <div class="form-check reason-check">
                                    <!-- <input class="form-check-input" type="radio" name="gridRadios" [checked]="ReasonforenquiryId===selectedreasonid"   id= "gridRadios{{reason.Id}}"                                 
                                     value="{{reason.Id}}" [(ngModel)]="ReasonforenquiryId"
                                        name="ReasonforenquiryId">
                                    <label class="form-check-label" for="gridRadios{{reason.Id}}">
                                        {{reason.Name}}
                                    </label> -->

                                    <select class="form-control" id="ReasonforenquiryId" placeholder="Please Select" 
                                    [ngModel]="ReasonforenquiryId" name="ReasonforenquiryId">
                                            <option value="0">Please Select</option>
                                            <option *ngFor="let reason of reasonList" value="{{reason.Id}}">{{reason.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div *ngIf="bookingType==2" class="form-group row branch">
                        <label class="col-form-label col-sm-4">Branch:</label>
                        <div class="col-sm-6">
                            <div class="form-check">
                                <select class="form-control" id="inlineFormCustomSelectPref" placeholder="Please Select" 
                                (change)="SelectAppointmentDates()" [ngModel]="BranchId" name="BranchId">
                                        <option value="0">Please Select</option>
                                        <option *ngFor="let branch of branchList" value="{{branch.Id}}">{{branch.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row calender">
                        
                        <label class="col-form-label col-sm-12 pt-0">Select Date and Time:</label>
                        <div class="col-sm-12">            
                            <div class="" *ngIf="updateBranchId>0">
                           Old Selected Date :  {{PreviousSelectedBookingDateandTime| date: 'dd/MM/yyyy hh:mm a'}}                             
                            </div>
                            <carousel (activeSlideChange)="FillTheTimes($event)" [(activeSlide)]="activeSlideIndex"  [showIndicators]='false' [interval]="false">
                                <slide *ngFor="let appointment of datesList">
                                    <div class="text-center py-5 bg-green text-white">                                            
                                        <h5>{{appointment.AppointmentDay}} - {{appointment.app}}</h5>
                                        <div class="lead">
                                            <h3>
                                                {{appointment.AppointmentDateNumber}}
                                            </h3>
                                        </div>
                                        <h5>{{appointment.AppointmentMonth}} {{appointment.AppointmentYear}}
                                        </h5>
                                    </div>
                                </slide>
                            </carousel>
                        </div>
                        <div class="col-sm-12" *ngIf="BranchId!=0 || bookingType!=2">
                            <span *ngFor="let apdate of onlyTimeList">    
                                <button style="margin:10px 10px" [disabled]="(apdate.AppointmentAvailable==0)" 
                                class="btn btn-default text-center {{apdate.AppointmentTime==CurrentBookingDateandTime?'timeactive':''}}"
                                (click)="onSelectDateTime(apdate)" type="button">{{apdate.AppointmentTime | date: 'hh:mm a'}}
                                 </button>
                            </span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="BranchReferrer" class="col-sm-4 col-form-label">Branch Referrer:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Referrer" [ngModel]="Referrer"
                             maxlength="100" name="Referrer" aria-describedby="nameHelp"
                                placeholder="Enter Branch Referrer" />        
                            <!-- <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['AccessCode'].valid && custForm.controls['AccessCode'].touched">Last
                                    AccessCode is required</p> -->
                        </div>
                    </div>

                    <div class="form-group row conditions">
                        <div class="col-sm-12">
                            <div class="form_checkbox">
                                <input id="agree" (change)="doAgree($event)" class="form-check-input" type="checkbox"/>
                                <label for="agree">NM Money Mortgages is proud to be part of the NoteMachine Group of companies. Can we contact you with general news, offers, competitions, new products for Mortgages, Insurance, and Travel Money?</label>
                            </div>
                            <p class="col-sm-offset-3 help-block error" *ngIf="agree">
                                Please check the terms and conditions
                            </p>                                
                            
                        </div>

                    </div>
                    <div class="form-group row submit-btn">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary sb-btn" [disabled]="!custForm.valid"> Book Now
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>