<div class="wrap2">
        <div class="container">
                <div class="col-md-12">
                        <div class="back-close">
                                <span class="back-icon1"><a href="javascript:history.go(-1)">
                                    
                                        <svg aria-hidden="true" data-prefix="far" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-left fa-w-14 fa-2x">
                                            <path fill="currentColor" d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z" class=""></path>
                                        </svg>
                                    
                                </a></span>
                                <span class="close-icon"><a href="javascript:history.go(-1)"><img src="assets/content/image/close.png"></a></span>
                        </div>
                </div>
            <div class="row form1 viewbook">
                <div class="col-md-12">
                    
                    <div class="">
                       <!-- <img src="assets/content/image/pic.png">-->
                        <p class="form-title" *ngIf="bookingType==2">Video Appointment Booking</p>
                        <p class="form-title" *ngIf="bookingType==1">Call Back Appointment Booking</p>
                    </div>
    
                    <!-- <div class="form-head">
                           <h5>Video Appointment Booking</h5>
                    </div> -->
    
                    
                        <input type="hidden" [ngModel]="bookingType" name="FirstName" />
                        <div class="form-group row">
                            <label for="inputname" class="col-sm-4 col-form-label">First Name:</label>
                            <div class="col-sm-6 pull-left col-form-label grey-font input-lable">
                                {{FirstName}}    
                            </div>
                        </div>
    
    
                        <div class="form-group row">
                            <label for="inputname" class="col-sm-4 col-form-label">Last Name:</label>
                            <div class="col-sm-6 pull-left col-form-label grey-font input-lable">
                                {{LastName}}
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <label for="inputcontact" class="col-sm-4 col-form-label">Contact Number:</label>
                            <div class="col-sm-6 pull-left col-form-label grey-font input-lable">
                                    {{ContactNumber}}
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-4 col-form-label">Email:</label>
                            <div class="col-sm-6 pull-left col-form-label grey-font input-lable">
                                    {{EmailAddress}}
                            </div>
                        </div>
                        <fieldset class="form-group">
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Reason for enquiry:</label>
                                <div class="col-sm-6 pull-left col-form-label grey-font input-lable">
                                    {{Reason}}
                                </div>
                            </div>
                        </fieldset>
                        <div *ngIf="bookingType==2" class="form-group row branch">
                            <label class="col-sm-4 col-form-label">Branch:</label>
                            <div class="col-sm-6 pull-left col-form-label grey-font input-lable">
                                    {{Branch}}
                            </div>
                        </div>
                        <div class="form-group row calender">
                            
                            <label class="col-sm-4 col-form-label">Appointment Date and Time:</label>
                            <div class="col-sm-6 pull-left col-form-label grey-font input-lable">                   
                               {{BookingDateandTime| date: 'dd/MM/yyyy hh:mm a'}}
                             
                            </div>
                        </div>
    
                        <div class="form-group row branch">
                                <label class="col-sm-4 col-form-label">Assign User:</label>
                                <div class="col-sm-6 pull-left col-form-label grey-font input-lable">{{AssignedTo}}
                                </div>
                            </div>
    
    
                            <div class="form-group row">
                                    <label for="AccessCode" class="col-sm-4 col-form-label">Access Code:</label>
                                    <div class="col-sm-6 pull-left col-form-label grey-font input-lable">{{AccessCode}}
                                    </div>
                                </div>
    
                        <div class="form-group row">
                            <label for="inputcommnet" class="col-sm-4 col-form-label">Comment:</label>
                            <div class="col-sm-6 pull-left col-form-label grey-font input-lable">
                                {{Comment}}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>