<app-guestheader></app-guestheader>
<div class="wrap2 mort-app">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form1">
                        <img src="http://dev.nmmoney.co.uk/images/default-source/homenew/logo.png">
                        <p class="form-title">book a mortgage appointment</p>
                        <p class="form-title-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="left-section">
                        <div class="screen-icon">
                            <i class="fa fa-laptop fa-4x"></i>
                        </div>
                        <div class="button-section">
                           <h4>Video mortgage</h4>
                           <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                           <a class="btn btn-primary sb-btn login-btn" routerLink="booking/2">book now</a>
                        </div>
                    </div>  
                </div>
                <div class="col-md-6">
                    <div class="right-section">
                        <div class="call-icon">
                            <i class="fa fa-phone fa-4x"></i>
                        </div>
                        <div class="button-section">
                            <h4>Call back mortgage</h4>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            <a class="btn btn-primary sb-btn login-btn" routerLink="booking/1">book now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


            
                 
   

<!-- 
<a routerLink="booking/2">Video Appointments</a>
<a routerLink="booking/1">Phone Appointments</a> -->