<div class="wrap2">
  <div class="container">
        <div class="col-md-12">
                <div class="back-close">
                        <span class="back-icon1"><a href="javascript:history.go(-1)">
                            <svg aria-hidden="true" data-prefix="far" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-left fa-w-14 fa-2x">
                                <path fill="currentColor" d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z" class=""></path>
                            </svg>
                        </a></span>
                        <span class="close-icon"><a href="javascript:history.go(-1)"><img src="assets/content/image/close.png"></a></span>
                </div>

        </div>
      <div class="row form1">
          <div class="col-md-12">
                <div class="">
                        <!-- <img src="assets/content/image/pic.png">-->
                         <p class="form-title">Edit Customer</p>
                     </div>

              <form (ngSubmit)="BookCustomer()" novalidate #custForm='ngForm'>
                    <input type="hidden" [ngModel]="BooingType" name="FirstName" />
                    <div class="form-group row">
                        <label for="inputname" class="col-sm-4 col-form-label">First Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="FirstName" [ngModel]="FirstName" maxlength="100" name="FirstName" required aria-describedby="nameHelp"
                                placeholder="Enter first name" />

                            <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['FirstName'].valid && custForm.controls['FirstName'].touched">First
                                name is required</p>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="inputname" class="col-sm-4 col-form-label">Last Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="LastName" [ngModel]="LastName" maxlength="100" name="LastName" required aria-describedby="nameHelp"
                                placeholder="Enter last name" />

                            <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['LastName'].valid && custForm.controls['LastName'].touched">Last
                                Name is required</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputcontact" class="col-sm-4 col-form-label">Contact Number:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="ContactNumber"
                             [ngModel]="ContactNumber" maxlength="50" name="ContactNumber"
                             pattern="[01|02|03|05|07|]{2}[0-9]{9}"                             
                             (keyup)="isNumberKeyy($event)"                              
                             (change)="setCustomValidity($event)"
                             (paste)="paste()"
                             (drop)="paste()"  
                                required aria-describedby="nameHelp" placeholder="Enter contact number" />
                            <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['ContactNumber'].valid && custForm.controls['ContactNumber'].touched">Contact
                                number is required</p>
                                <p class="col-sm-offset-3 help-block error" *ngIf="!contactnumberInvalid && custForm.controls['ContactNumber'].touched">
                                    Please Enter Valid Contact Number
                                </p> 
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-4 col-form-label">Email:</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" id="EmailAddress" maxlength="100" (change)="validateEmail($event)"  [ngModel]="EmailAddress" name="EmailAddress" required
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email address" />
                            <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['EmailAddress'].valid && custForm.controls['EmailAddress'].touched">Email
                                is required with correct format</p>
                                <p class="col-sm-offset-3 help-block error" *ngIf="!emailInvalid && custForm.controls['EmailAddress'].touched">
                                    Please Enter Valid Email Address
                                </p> 
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-form-label col-sm-4 pt-0">Reason for enquiry:</label>
                            <div class="col-sm-6">
                                <div  class="form-check reason-check">

                                        <select class="form-control" id="ReasonforenquiryId" placeholder="Please Select" 
                                        [ngModel]="ReasonforenquiryId" name="ReasonforenquiryId">
                                                <option value="0">Please Select</option>
                                                <option *ngFor="let reason of reasonList" value="{{reason.Id}}">{{reason.Name}}</option>
                                        </select>
                                    <!-- <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios{{reason.Id}}" value="{{reason.Id}}" [ngModel]="ReasonforenquiryId"                                    
                                    name="ReasonforenquiryId">
                                    <label class="form-check-label" for="gridRadios{{reason.Id}}">
                                        {{reason.Name}}
                                    </label> -->
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row submit-btn">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary sb-btn" [disabled]="!custForm.valid">{{actionName}}
                            </button>
                            <a href="javascript:history.go(-1)" class="btn btn-primary sb-btn">Cancel
                            </a>
                        </div>
                    </div>
                </form>
          </div>
      </div>
  </div>
</div>