 <!--HEADER STARTS-->
 <div class="wrap1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="logo">
                            <a routerLink="/"><img src="assets/content/image/logo.png"></a>
                        </div>
                        <div class="nav-right">
                            <ul class="main-nav">
                                <li class="icon-active"><a  routerLink="/admin" class="dropbtn-set">Admin Login</a>
                                
                            </ul>
                         </div>
                </div>
            </div>
        </div>
       
 </div>