<div class="wrap2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <div class="form1 login-form">
                        <img src="assets/content/image/logo.png">
                        <p class="login-form-title">admin login</p>
                    
                    <div class="">
                        <h5>Please fill in the form below:</h5>
                    </div>
                    <div class="danger" *ngIf="errorMessagedisplay!=true">{{errorMessage}}</div>
                    <form (ngSubmit)="ClickLogin()" novalidate #empForm='ngForm' class='container'>
                        <div class="form-group row">
                            <label for="inputemail" class="col-sm-4 col-form-label">Email:</label>
                            <div class="col-sm-6">
                                    <input type="email"
                                    maxlength="50" [ngModel]="Email" name="Email" required
                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Enter email"
                                    class="form-control" id="inputEmail" placeholder="Email Address">
                                    <p class="col-sm-offset-6 help-block error" *ngIf="!empForm.controls['Email'].valid && empForm.controls['Email'].touched">Email is required with correct format</p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputcontact" class="col-sm-4 col-form-label">Password:</label>
                            <div class="col-sm-6">
                                    <input type="password"
                                     class="form-control" 
                                     id="inputPassword" 
                                     [ngModel]="Password" 
                                     maxlength="20" 
                                        name="Password" 
                                    required                   
                                     placeholder="Password">

                                     <p class="col-sm-offset-6 help-block error" *ngIf="!empForm.controls['Password'].valid && empForm.controls['Password'].touched">
                                        Password is Required 
                                      </p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="form-check">
                              <p class="col-sm-offset-3 help-block error" *ngIf="IsLoggedIn">Email or password is wrong.</p>
                              <!--<label class="form-check-label">
                                    <input class="form-check-input" type="checkbox"> Remember Password</label>-->
                            </div>
                          </div>
                        
                        <div class="form-group row submit-btn">
							<label for="inputcontact" class="col-sm-4 col-form-label">&nbsp;</label>
                          <div class="col-sm-6 sb-btn-wrp">
                            <button type="submit" class="btn btn-primary sb-btn pull-left login-btn" [disabled]="!empForm.valid">Login</button>
                            
                          </div>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
