<div class="wrap2">
    <div class="container">
        <div class="row form1">
            <div class="col-md-12">
                <div class="back-close">
                    <span class="back-icon"><a href="javascript:history.go(-1)">
						<svg aria-hidden="true" data-prefix="far" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-left fa-w-14 fa-2x">
							<path fill="currentColor" d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z" class=""></path>
						</svg>
					</a></span>
                    <span class="close-icon"><a href="javascript:history.go(-1)"><img src="assets/content/image/close.png"></a></span>
                </div>
                <h3 *ngIf="bookingType==1">
                    Edit Phone Appointment Availability
                </h3>
                <h3 *ngIf="bookingType==2">
                    Edit Video Appointment Availability                   

                </h3>
                <br />


              





                <form (ngSubmit)="AddAvailability()" novalidate #custForm='ngForm'>

                    <div *ngIf="bookingType==2" class="form-group row branch">
                        <label class="col-form-label col-sm-4">Branch:</label>
                        <div class="col-sm-6">
                            <div class="form-check">
                                <select class="form-control" id="BranchId" (change)="getcapacity($event)" [ngModel]="BranchId"
                                    name="BranchId">
                                    <option value="0">All Branch</option>
                                    <option *ngFor="let branch of branchList" value="{{branch.Id}}">{{branch.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="form-check radio-check">
                                <input type="radio" class="form-check-input" (change)="checkDates()" name="editdays" id="gridRadiossingle"
                                    value="0" [checked]='true' [ngModel]="editdays" />
                                <label for="gridRadiossingle" class="form-check-label"> Single Day</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-check radio-check">
                                <input type="radio" class="form-check-input" (change)="checkDates()" name="editdays" id="gridRadiosmultiple"
                                    value="1" [ngModel]="editdays" />
                                <label for="gridRadiosmultiple" class="form-check-label"> Multiple Days</label>
                            </div>
                        </div>
                    </div>



                    <div class="form-group row">
                        <label for="inputname" class="col-sm-4 col-form-label">Start Date:</label>
                        <div class="col-sm-6">
                            <input type="text" bsDatepicker class="form-control" id="StartDate" [ngModel]="StartDate"
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                maxlength="100" name="StartDate" required aria-describedby="nameHelp" (bsValueChange)="onStartDateSelect($event)" placeholder="Enter Start Date" />

                            <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['StartDate'].valid && custForm.controls['StartDate'].touched">Branch
                                name is required</p>
                        </div>
                    </div>

                    <div *ngIf="showEndDate" class="form-group row">
                        <label for="inputname" class="col-sm-4 col-form-label">End Date:</label>
                        <div class="col-sm-6">
                            <input type="text" bsDatepicker class="form-control" id="EndDate" [ngModel]="EndDate"
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                maxlength="100" name="EndDate" required aria-describedby="nameHelp" placeholder="Enter End Date" />

                            <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['EndDate'].valid && custForm.controls['EndDate'].touched">End
                                Date is required</p>
                        </div>
                    </div>

                    <div  class="form-group row">
                        <div class="col-sm-6">
                            <timepicker name="newTime" [(ngModel)]="newTime"></timepicker>
                        </div>
    
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary sb-btn btn-sm" (click)="AddNewTime()">
                                Add Time</button>
                        </div>
                          
                    </div>
                    <div class="table-responsive table-bordered admin-table">
                        <table class="table admin-table">
                            <thead>
                                <tr class="admin-table-head">
                                    <th>Time</th>
                                    <th>Available</th>
                                    <th>Make Available</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="white-row">
                                    <td>All Slots</td>
                                    <td><input id="allSlot" name="allSlot" [ngModel]="allSlot" (change)="setAllSlots()"
                                            type="number" /></td>
                                    <td><input id="allCheckBox" name="allCheckBox" (change)="setAllSlotsCheck()"
                                            [ngModel]="allCheckBox" type="checkbox" /> </td>
<td>&nbsp;</td>
                                            
                                </tr>
                                <tr *ngFor="let availability of returnedappointmenttimelist" class="white-row">
                                    <td>{{availability.AppointmentTime}}</td>
                                    <td><input id="txtbox_{{availability.index}}" (change)="validateslots($event,availability.AppointmentTime)"
                                            [value]="availability.TotalCapacity" name="availability_{{availability.index}}"
                                            [(ngModel)]="availability.TotalCapacity" type="number" /></td>
                                    <td><input id="checkbox_{{availability.index}}" name="checkbox_{{availability.index}}"
                                            type="checkbox" [ngModel]="availability.Status" /> </td>

                                            <td> <button type="button" class="btn btn-sm btn-danger" (click)="removeThisSlot(availability.index)">Delete</button> </td>
                                </tr>
                                <!--/.row-->
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group row submit-btn">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary sb-btn" [disabled]="!custForm.valid">
                                {{actionName}}</button>

                            <a class="btn btn-info margin-right-10" href="javascript:history.go(-1)">
                                Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>