<div class="wrap3">
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <div _ngcontent-c8="" class="back-close">
                                <span _ngcontent-c8="" class="back-icon2">
                                    <a _ngcontent-c8="" href="javascript:history.go(-1)">
                                        <svg _ngcontent-c8="" aria-hidden="true" class="svg-inline--fa fa-arrow-left fa-w-14 fa-2x" data-icon="arrow-left" data-prefix="far" role="img" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                            <path _ngcontent-c8="" class="" d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z" fill="currentColor"></path>
                                        </svg>
                                    </a>
                                </span>
                                <span _ngcontent-c8="" class="close-icon"><a href="javascript:history.go(-1)"><img _ngcontent-c8="" src="assets/content/image/close.png"></a></span>
                            </div>
                <div class="administer-section">
                    <h3 *ngIf="bookingType==2 && branchId != 3">                                            
                        Video Appointment Availability
                    </h3>
                    <h3 *ngIf="bookingType==1 && branchId != 3">                                            
                            Phone Appointment Availability
                        </h3>
                        <h3 *ngIf="bookingType==2 && branchId == 3">                                            
                            Head Office  Video Appointment Availability
                            </h3>
                            <h3 *ngIf="bookingType==1 && branchId == 3">                                            
                                    Head Office  Phone Appointment Availability
                                </h3>
                </div>
                <div class="datelist administer-search pull-left">
                    <ul>                                 
                        <li>
                             <select class="form-control"  id="inlineFormCustomSelectPref" (change)="searchAppointmentsTime($event)"
                             #selectModel="ngModel"
                             [ngModel]="AppointmentTime" name="AppointmentTime">                                    
                                 <option value="0">Select Time</option>
                                <option *ngFor="let appointment of returnedappointmenttimelist" value="{{appointment.AppointmentTimeString}}">
                                    {{appointment.AppointmentTime | date :'hh:mm aa'}}
                                </option>
                            </select>
                        </li>  
                        <li>
                            <input class="form-control"
                            placeholder="Select Date"
                            bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                            (bsValueChange)="searchAppointments($event)" [(bsValue)]="bsValue" >
                        </li>  
                    <li *ngIf="bookingType == 2 && branchId != 3">
                        <select class="form-control" id="branchId" (change)="loadAppointmentListByBranch($event)" [ngModel]="branchId" name="branchId">
                            <option value="0">Select Branch</option>
                            <option *ngFor="let branch of branchList" value="{{branch.Id}}">{{branch.Name}}</option>
                        </select>
                    </li>                     

                    </ul>
                </div>
                    <div class="administer-btn avail-left">
                        <ul>
                            
                    <li>
                            <a routerLink="/admin/headbranchavailability/{{bookingType}}/3" *ngIf="bookingType==2"class="export">Head Office </a>
                            <a routerLink="/admin/headbranchavailability/{{bookingType}}/3" *ngIf="bookingType==1"class="export">Head Office</a>
 
                     </li> 
                            <li><a routerLink="/admin/addavailablity/{{bookingType}}/3" class="export">Add/Edit Head Office Capacity</a></li>                                
                            <li><a routerLink="/admin/addavailablity/{{bookingType}}" class="export">Add/Edit Capacity</a></li>
                            <!-- <li><a href="" class="view">Edit Dates</a></li>                            -->
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                <div class="table-responsive table-bordered admin-table">
                    <table class="table admin-table">
                          <thead>
                          <tr class= "admin-table-head">
                              <th>Date</th>
                              <th>Day</th>
                              <th>Time</th>
                              <th>Total Capacity</th>
                              <th *ngIf="bookingType==2 && branchId != 3">Branch</th>
                              <th>Booked</th>
                          </tr>
                      </thead>   
                      <tbody>
                        <tr *ngFor="let availability of returnedappointmentlist" class= "white-row">
                            <td>{{availability.AppointmentDate | date:'dd/MM/yyyy'}}</td>
                            <td>{{availability.AppointmentDay}}</td>
                            <td>{{availability.AppointmentTime | date:'hh:mm a'}}</td>
                            <td>{{availability.TotalCapacity}}</td>
                            <td *ngIf="bookingType==2 && branchId != 3">{{availability.Branch}}</td>
                            <td>{{availability.BookedAppointment}}</td>                                       
                        </tr>
                        <!--/.row-->
                      </tbody>
                    </table>
                    </div>
                </div>
                    <div class="col-md-12">
                    <div class="next-prev">
                        <pagination [maxSize]="10" [totalItems]="appointmentlist.length" (pageChanged)="pageChanged($event)"></pagination>
                    </div>
                    </div>
  
            </div>
        </div>
        
  </div>