<div class="dashboardcenter">
    <h2 class="dashboard-title">Dashboard</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4 dash-item">
                <a routerLink="/admin/bookinglist/2" class="dashboardbox_item">
                    <div class="dash-block">
                        <img src="assets/content/image/video-book.png" alt> Video Appointments</div>
                </a>
            </div>
            <div class="col-md-4 dash-item">
                <a routerLink="/admin/bookinglist/1" class="dashboardbox_item">
                    <div class="dash-block">
                        <img src="assets/content/image/callback-book.png" alt> Call Back Appointments</div>
                </a>
            </div>

            <div class="col-md-4 dash-item">
                <a routerLinkActive="active" *ngIf="RoleId=='1'" routerLink="/admin/branches" class="dashboardbox_item">
                    <div class="dash-block">
                        <img src="assets/content/image/branches.png" alt> Branches
                    </div>
                </a>
            </div>
            <div class="col-md-4 dash-item">
                <a routerLinkActive="active" *ngIf="RoleId == '1'" routerLink="/admin/availability/2" class="dashboardbox_item">
                    <div class="dash-block">
                        <img src="assets/content/image/video-avail.png" alt> Video Availability</div>
                </a>
            </div>
            <div class="col-md-4 dash-item">
                <a routerLinkActive="active" *ngIf="RoleId == '1'" routerLink="/admin/availability/1" class="dashboardbox_item">
                    <div class="dash-block">
                        <img src="assets/content/image/phone-avail.png" alt> Phone Availability</div>
                </a>
            </div>
            <div class="col-md-4 dash-item">
                <a routerLinkActive="active" *ngIf="RoleId == '1'" routerLink="/admin/customers" class="dashboardbox_item">
                    <div class="dash-block">
                        <img src="assets/content/image/customers.png" alt> Customers
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>